.margin-left-1 {
  margin-left: 5px !important;
}

.margin-right-1 {
  margin-right: 5px !important;
}

.text-center {
  text-align: center !important;
}

.no-bottom-border {
  border-bottom: none !important;
}