$green: hsl(120, 50%, 45%);
$red: hsl(0, 80%, 55%);

.roll-message-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;

  .roll-message-img {
    height: 40px !important;
    width: 40px !important;
    border: none;
  }

  .roll-message-name {
    width: 100%;
    margin-left: 5px;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.roll-message-description {
  margin-top: 5px;
  font-style: italic;
}

.roll-message-section {

  .roll-message-dice {
    display: inline-block;
    margin: 2px;
    padding: 2px 6px;
    border-radius: 2px;
    border: 1px solid black;

    &.is-gagnant {
      background: rgba($color: $green, $alpha: 0.8);
    }

    &.is-perdant {
      background: rgba($color: $red, $alpha: 0.8);
    }
  }

  .roll-message-resultat {
    margin-bottom: 5px;
    padding: 2px 6px;
    border-radius: 2px;
    border: 1px solid black;

    &.is-reussite-critique {
      background: rgba($color: $green, $alpha: 0.8);
    }
    &.is-reussite-consequence {
      background: rgba($color: $green, $alpha: 0.5);
    }
    &.is-reussite-simple {
      background: rgba($color: $green, $alpha: 0.2);
    }

    &.is-echec-cout {
      background: rgba($color: $red, $alpha: 0.2);
    }
    &.is-echec-simple {
      background: rgba($color: $red, $alpha: 0.5);
    }
    &.is-echec-critique {
      background: rgba($color: $red, $alpha: 0.8);
    }
  }
}
