.items-list {
  height: auto;
  list-style: none;
  margin: 5px 0 15px 0;
  padding: 0;
  overflow-y: auto;

  .item-header {
    font-weight: bold;
  }

  .item {
    height: 30px;
    line-height: 24px;
    padding: 3px 0;
    border-bottom: 1px solid #BBB;

    .item-image {
      flex: 0 0 24px;
      margin-right: 5px;
    }

    img {
      display: block;
      border: none;
    }
  }

  .item-name {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .item-details {
    flex: 0 0 86px;
    text-align: center;

    i {
      margin: 0 5px;
    }
  }

  .item-value {
    flex: 0 0 86px;
  }

  .item-type {
    flex: 0 0 106px;
    padding-left: 10px;
  }

  .item-spec {
    select {
      width: 100%;
    }
  }

  .item-controls {
    text-align: center;

    a {
      margin: 0 5px;
    }
  }
}